$background-color: #000;
$font-color: #458b00;
$white: #fff;
$black: #000;
$blue: #0198e1;
$gray: #282828;

body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

div {
  color: $white;
  height: 30%;
  width: 30%;
}

table {
  color: $white;
  margin: 0 auto;
}

.game {
  height: 450px;
  margin: 0 auto;
  width: 450px;
}

.board {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.newgame {
  cursor: pointer;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
}


.square {
  color: $white;
  float: left;
  font-size: 600%;
  padding-top: 2%;

}

.center {
  border-left: 2px solid $white;
  border-right: 2px solid $white;
}

.mid {
  border-bottom: 2px solid $white;
  border-top: 2px solid $white;
}

.left {
  clear: left;
}

.white {
  background-color: $white;
}

.blue {
  color: $blue;
}

.gray {
  color: $gray;
}
